* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white !important;
}

:root {
  --black: #0f0f0f;
  --dark-gray: #1e1e1e;
}

.bg-black {
  background-color: var(--black) !important;
}

.bg-dark-gray {
  background-color: var(--dark-gray) !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f !important;
}

.navbar-dark {
  background-color: #0f0f0f !important;
  border-bottom: 1px solid #333 !important;
}

.home-layout {
  max-height: 100vh !important;
}
.scrollable-view {
  height: calc(100vh - 61.61px);
  max-height: 100% !important;
  overflow-y: scroll;
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
  scrollbar-width: none; /* hide scrollbar for Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-view::-webkit-scrollbar {
  display: none;
}
.player {
  max-height: 100vh !important;
}
.player-wrapper {
  width: auto;
  height: auto;
  max-height: 90vh !important;
  max-width: 100%;
}
.react-player {
  position: relative;
  max-height: 90vh !important;
  box-shadow: #515151 0px 0px 50px 0px;
  border-radius: 0.5rem;
}

.react-player > video {
  position: absolute;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-play-window {
  position: relative;
}

.window-data {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.window-data > div {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 0) 100%
  );
  padding: 1rem 2rem 2rem 2rem;
}

.creator-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 1000px;
  outline: 0.5px solid #333;
}
.window-data span {
  margin: auto 1rem;
}

@media screen and (max-width: 991.5px) {
  .player-wrapper {
    order: 0;
  }
  .video-details {
    order: 1;
  }
}

.video-card {
  position: relative;
  border-radius: 1rem;
}
.video-thumbnail {
  border-radius: 0.3rem;
}

.thumbnail-data {
  position: absolute;
  padding: 5px 5px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(15, 15, 15, 0) 20%,
    rgba(15, 15, 15, 0) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
